<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duodian.admore">

    <uses-permission android:name="aandroid.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.admore.resourceachieve.ResourcePurchaseActivity" />
        <activity android:name=".main.usercenter.settings.SettingsActivity" />
        <activity android:name=".main.BaseActivity" />
        <activity android:name=".main.admore.resourcebalance.ResourceBalanceActivity" />
        <activity android:name=".main.admore.spreadplancreate.SpreadPlanCreateActivity" />
        <activity android:name=".main.admore.resourcevoucher.ResourceVoucherActivity"></activity>
    </application>

</manifest>